<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campmajó Studio</title>

    <!-- Preconnect and DNS Prefetch for External Resources -->
    <link rel="preconnect" href="//use.typekit.net">
    <link rel="dns-prefetch" href="//use.typekit.net">
    <link rel="preconnect" href="//cdn.jsdelivr.net">
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net">

    <!-- Preloading Critical Video Poster Image -->
    <link rel="preload" as="image" href="https://campmajo-studio.s3.eu-central-1.amazonaws.com/pinocchio/pinocchio_03.jpg" type="image/jpeg">

    <!-- Prefetching All Other Images -->
    <link rel="prefetch" as="image" href="https://campmajo-studio.s3.eu-central-1.amazonaws.com/ccc2024/capital_cultura_catalana_01.jpg" type="image/jpeg">
    <link rel="prefetch" as="image" href="https://campmajo-studio.s3.eu-central-1.amazonaws.com/pinocchio/pinocchio_00.jpg" type="image/jpeg">
    <link rel="prefetch" as="image" href="https://campmajo-studio.s3.eu-central-1.amazonaws.com/tot_es_fum/tot_es_fum_00.jpg" type="image/jpeg">
    <link rel="prefetch" as="image" href="https://campmajo-studio.s3.eu-central-1.amazonaws.com/sorolla/sorolla_00.jpg" type="image/jpeg">
    <link rel="prefetch" as="image" href="https://campmajo-studio.s3.eu-central-1.amazonaws.com/duoleg/duoleg_00.jpg" type="image/jpeg">
    <link rel="prefetch" as="image" href="https://campmajo-studio.s3.eu-central-1.amazonaws.com/nadal_immersiu/nadal_immersiu_00.jpg" type="image/jpeg">
    <link rel="prefetch" as="image" href="https://campmajo-studio.s3.eu-central-1.amazonaws.com/cant_dels_ocellots/el_cant_dels_ocellots_00.jpg" type="image/jpeg">
    <link rel="prefetch" as="image" href="https://campmajo-studio.s3.eu-central-1.amazonaws.com/pell_de_paper/pell_de_paper_00.jpg" type="image/jpeg">
    <link rel="prefetch" as="image" href="https://campmajo-studio.s3.eu-central-1.amazonaws.com/buen_camino/buen_camino_00.jpg" type="image/jpeg">
    <link rel="prefetch" as="image" href="https://campmajo-studio.s3.eu-central-1.amazonaws.com/siguenza/catedral_siguenza_00.jpg" type="image/jpeg">
    <link rel="prefetch" as="image" href="https://campmajo-studio.s3.eu-central-1.amazonaws.com/cels/cels_00.jpg" type="image/jpeg">
    <link rel="prefetch" as="image" href="https://campmajo-studio.s3.eu-central-1.amazonaws.com/bosc_de_llum/bosc_de_llum_00.jpg" type="image/jpeg">

    <!-- External Fonts and Tailwind CSS -->
    <link href="//use.typekit.net/gig2fob.css" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/npm/tailwindcss@2.0.0/dist/tailwind.min.css" rel="stylesheet">

    <style>
        body {
            font-family: futura-pt, sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .logo {
            font-weight: 600;
        }

        /* Smooth Slide-in Transition for Mobile Menu */
        #mobile-menu {
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
            transform: translateX(100%);
        }

        #mobile-menu.visible {
            transform: translateX(0);
            opacity: 1;
        }

        #mobile-menu.hidden {
            opacity: 0;
            visibility: hidden;
        }

        body.overflow-hidden {
            overflow: hidden;
        }

        #menu-toggle.open svg {
            transition: transform 0.3s ease-in-out;
            transform: rotate(90deg);
        }

        .hidden {
            opacity: 0;
            visibility: hidden;
        }

        .visible {
            opacity: 1;
            visibility: visible;
        }

        /* Invert navbar colors when mobile menu is active */
        #navbar.inverted {
            background-color: black;
            color: white;
        }

        #navbar.inverted .logo {
            color: white;
        }

        #navbar.inverted #menu-toggle svg {
            color: white;
        }

        .relative {
            position: relative;
            overflow: hidden;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0; /* Hide overlay by default */
            transition: opacity 0.3s ease;
        }

        .relative:hover .overlay {
            opacity: 1; /* Show overlay on hover */
        }

        .description {
            color: white;
            font-size: 1rem; /* Adjust font size as needed */
            text-align: center;
            padding: 0.5rem; /* Add padding for better readability */
        }

    </style>
</head>

<body class="bg-white">

<!-- Navigation -->
<nav id="navbar" class="flex justify-between items-center p-4 bg-white text-black">
    <h1 class="logo text-2xl z-50">Campmajó Studio</h1>
    <button id="menu-toggle" class="text-gray-500 focus:outline-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
        </svg>
    </button>
</nav>

<!-- Overlay Mobile Menu -->
<div id="mobile-menu" class="fixed inset-0 z-40 bg-black hidden flex flex-col justify-center items-center">
    <button id="menu-close" class="absolute top-4 right-4 text-white focus:outline-none">
        <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>
</div>

<!-- Main Section with Responsive Video -->
<section class="p-0 fade-in">
    <video class="w-full h-[30vh] md:h-[40vh] lg:h-[50vh] xl:h-[60vh]" controls autoplay muted playsinline
           preload="auto" loading="lazy"
           poster="https://campmajo-studio.s3.eu-central-1.amazonaws.com/pinocchio/pinocchio_00.jpg">
        <source src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/reel-web.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</section>

<!-- Text Section -->
<section class="text-center p-4 fade-in">
    <div class="m-4">
        <p class="mt-2 text-lg leading-relaxed">
            Llum i narrativa
        </p>

        <h2 class="text-2xl font-semibold leading-tight">
            Som un col·lectiu d'artistes i dissenyadors especialitzats en crear, dirigir i executar espectacles
            audiovisuals, amb una atenció meticulosa al concepte gràfic i la narrativa, aconseguint així força i emoció
            en els nostres projectes.
        </h2>

    </div>
</section>

<!-- Project Images Section -->
<!-- Project Images Section -->
<section class="p-0 fade-in">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-0"> <!-- Changed gap-4 to gap-0 -->
        <!-- Image 1 -->
        <div class="relative">
            <a href="https://youtu.be/3FFOKpRFUac?si=q7iQp5dksK-wuALi" target="_blank" rel="noopener noreferrer">
                <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/ccc2024/capital_cultura_catalana_01.jpg" alt="Project Image 1" class="w-full h-auto" loading="lazy">
                <div class="overlay">
                    <p class="description">Project Image 1 Description</p>
                </div>
            </a>
        </div>

        <!-- Image 2 -->
        <div class="relative">
            <a href="/" target="_blank" rel="noopener noreferrer">
                <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/pinocchio/pinocchio_00.jpg" alt="Project Image 2" class="w-full h-auto" loading="lazy">
                <div class="overlay">
                    <p class="description">Project Image 2 Description</p>
                </div>
            </a>
        </div>

        <!-- Image 3 -->
        <div class="relative">
            <a href="https://youtu.be/4fNPuff9BpE?si=5yy24SgMy8bmctMH" target="_blank" rel="noopener noreferrer">
                <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/tot_es_fum/tot_es_fum_00.jpg" alt="Project Image 3" class="w-full h-auto" loading="lazy">
                <div class="overlay">
                    <p class="description">Project Image 3 Description</p>
                </div>
            </a>
        </div>

        <!-- Image 4 -->
        <div class="relative">
            <a href="https://youtu.be/Hu51gW7Y0IA?si=XcqSEe_FjVStjxJa" target="_blank" rel="noopener noreferrer">
                <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/sorolla/sorolla_00.jpg" alt="Project Image 4" class="w-full h-auto" loading="lazy">
                <div class="overlay">
                    <p class="description">Project Image 4 Description</p>
                </div>
            </a>
        </div>

        <!-- Image 5 -->
        <div class="relative">
            <a href="https://youtu.be/VtnKPlUEiSg?si=0sPDZLS8ickc_sq1" target="_blank" rel="noopener noreferrer">
                <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/duoleg/duoleg_00.jpg" alt="Project Image 5" class="w-full h-auto" loading="lazy">
                <div class="overlay">
                    <p class="description">Project Image 5 Description</p>
                </div>
            </a>
        </div>

        <!-- Image 6 -->
        <div class="relative">
            <a href="https://youtu.be/NqCVUFdBWyI?si=e_pD1Wd9NflFxsaP" target="_blank" rel="noopener noreferrer">
                <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/nadal_immersiu/nadal_immersiu_00.jpg" alt="Project Image 6" class="w-full h-auto" loading="lazy">
                <div class="overlay">
                    <p class="description">Project Image 6 Description</p>
                </div>
            </a>
        </div>

        <!-- Image 7 -->
        <div class="relative">
            <a href="https://www.youtube.com/watch?v=IZRzS5obv6E" target="_blank" rel="noopener noreferrer">
                <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/cant_dels_ocellots/el_cant_dels_ocellots_00.jpg" alt="Project Image 7" class="w-full h-auto" loading="lazy">
                <div class="overlay">
                    <p class="description">Project Image 7 Description</p>
                </div>
            </a>
        </div>

        <!-- Image 8 -->
        <div class="relative">
            <a href="/" target="_blank" rel="noopener noreferrer">
                <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/pell_de_paper/pell_de_paper_00.jpg" alt="Project Image 8" class="w-full h-auto" loading="lazy">
                <div class="overlay">
                    <p class="description">Project Image 8 Description</p>
                </div>
            </a>
        </div>

        <!-- Image 9 -->
        <div class="relative">
            <a href="/" target="_blank" rel="noopener noreferrer">
                <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/buen_camino/buen_camino_00.jpg" alt="Project Image 9" class="w-full h-auto" loading="lazy">
                <div class="overlay">
                    <p class="description">Project Image 9 Description</p>
                </div>
            </a>
        </div>

        <!-- Image 10 -->
        <div class="relative">
            <a href="https://youtu.be/bPS8i24I1Pc?si=88zIMvepDlg3R3I7" target="_blank" rel="noopener noreferrer">
                <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/siguenza/catedral_siguenza_00.jpg" alt="Project Image 10" class="w-full h-auto" loading="lazy">
                <div class="overlay">
                    <p class="description">Project Image 10 Description</p>
                </div>
            </a>
        </div>

        <!-- Image 11 -->
        <div class="relative">
            <a href="/1" target="_blank" rel="noopener noreferrer">
                <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/cels/cels_00.jpg" alt="Project Image 11" class="w-full h-auto" loading="lazy">
                <div class="overlay">
                    <p class="description">Project Image 11 Description</p>
                </div>
            </a>
        </div>

        <!-- Image 12 -->
        <div class="relative">
            <a href="/" target="_blank" rel="noopener noreferrer">
                <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/bosc_de_llum/bosc_de_llum_00.jpg" alt="Project Image 12" class="w-full h-auto" loading="lazy">
                <div class="overlay">
                    <p class="description">Project Image 12 Description</p>
                </div>
            </a>
        </div>
    </div>
</section>

<!-- Services Section -->
<section class="p-12 fade-in">
    <h1 class="text-3xl font-thin mb-8 text-left">Serveis</h1>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-lg leading-loose">
        <div>
            <p class="font-bold mb-2">Disseny d'experiències</p>
            <ul>
                <li>Disseny videomapping</li>
                <li>Instal·lacions interactives</li>
                <li>Disseny d'entorns i escenografies</li>
                <li>Disseny audiovisual</li>
                <li>Consultoria</li>
                <li>Museografia</li>
                <li>Enginyeria</li>
            </ul>
        </div>
        <div>
            <p class="font-bold mb-2">Disseny i direcció d’art</p>
            <ul>
                <li>Direcció artística</li>
                <li>Animació gràfica</li>
                <li>Il·lustració i disseny gràfic</li>
                <li>Anàlisi i recerca fotogràfica</li>
                <li>Storytelling</li>
                <li>Investigació històrica</li>
                <li>Documentació gràfica</li>
            </ul>
        </div>
        <div>
            <p class="font-bold mb-2">I+D</p>
            <ul>
                <li>Intel-ligència artificial</li>
                <li>Processing</li>
                <li>Open Frameworks</li>
                <li>Art generatiu</li>
                <li>Multimèdia i nous mitjans</li>
                <li>Digitalització 3D</li>
                <li>Tradicional i phygital</li>
            </ul>
        </div>
    </div>
</section>

<!-- Main Image Section -->
<section class="p-0 fade-in">
    <picture>
        <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/pinocchio/pinocchio_02.jpg" alt="Main visual"
             class="w-full h-auto object-cover"
             loading="lazy">
    </picture>
</section>

<!-- Text Section -->
<section class="text-center p-8 fade-in">
    <div class="mt-4">
        <h2 class="text-2xl font-semibold leading-tight">
            Darrere la sensualitat, rigorositat.
        </h2>
        <p class="mt-2 text-lg leading-relaxed">
            Per explicar una història, la forma és fons i el fons és forma. <br> El nostre procés de treball inclou
            planificació, disseny, implementació, seguiment i millora continua per garantir l’exel.lència en cada
            projecte. </p>
    </div>
</section>

<!-- Grid of Logos Section -->
<section class="my-12 bg-black py-8">
    <div class="logo-grid grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6 gap-6 items-center justify-center">
        <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/logo_loteries.png" alt="Loteries de Catalunya"
             class="max-w-full max-h-24 sm:max-h-32 mx-auto"
             loading="lazy">
        <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/logo_fem.png" alt="FEM"
             class="max-w-full max-h-24 sm:max-h-32 mx-auto" loading="lazy">
        <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/logo_sabadell.png" alt="Ajuntament de Sabadell"
             class="max-w-full max-h-24 sm:max-h-32 mx-auto" loading="lazy">
        <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/logo_sanpau.png"
             alt="Hospital de la Santa Creu i Sant Pau"
             class="max-w-full max-h-24 sm:max-h-32 mx-auto" loading="lazy">
        <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/logo_baqueira.png" alt="Baqueira Beret"
             class="max-w-full max-h-24 sm:max-h-32 mx-auto"
             loading="lazy">
        <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/logo_malibu.png" alt="Malibu"
             class="max-w-full max-h-24 sm:max-h-32 mx-auto" loading="lazy">
        <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/logo_fgc.png"
             alt="Ferrocarrils de la Generalitat de Catalunya"
             class="max-w-full max-h-24 sm:max-h-32 mx-auto" loading="lazy">
        <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/logo_jcyl.png" alt="Junta de Castilla y León"
             class="max-w-full max-h-24 sm:max-h-32 mx-auto"
             loading="lazy">
        <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/logo_mas.png" alt="MAS"
             class="max-w-full max-h-24 sm:max-h-32 mx-auto" loading="lazy">
        <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/logo_vanguardia.png" alt="La Vanguardia"
             class="max-w-full max-h-24 sm:max-h-32 mx-auto"
             loading="lazy">
        <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/logo_provital.png" alt="Provital"
             class="max-w-full max-h-24 sm:max-h-32 mx-auto"
             loading="lazy">
        <img src="https://campmajo-studio.s3.eu-central-1.amazonaws.com/logo_coke.png" alt="CocaCola"
             class="max-w-full max-h-24 sm:max-h-32 mx-auto" loading="lazy">

    </div>
</section>

<!-- Footer Section -->
<footer class="p-12 text-left fade-in">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8 text-lg leading-relaxed">
        <!-- First Column -->
        <div>
            <p class="mb-24">
                <strong>Campmajó Studio</strong><br>
                Llum i narrativa
                <br>
                +34 607 457 547<br>
                barcelona@campmajo.studio<br>
                08211 Castellar del Vallès<br>
                Barcelona<br>
            </p>
        </div>
        <div>
            <p class="mb-24">
                <a href="https://www.linkedin.com/in/lluiscampmajo/" target="_blank" rel="noopener noreferrer">LinkedIn</a><br>
                <a href="https://www.instagram.com/lluiscampmajo/" target="_blank" rel="noopener noreferrer">Instagram</a><br>
                <a href="https://www.youtube.com/@campmajostudio" target="_blank" rel="noopener noreferrer">YouTube</a>
            </p>
        </div>
        <div>
            <small>© Campmajó Studio 2024</small>
        </div>
    </div>
</footer>

<script defer>
    document.addEventListener('DOMContentLoaded', () => {
        // Cache DOM elements
        const menuToggle = document.getElementById('menu-toggle');
        const menuClose = document.getElementById('menu-close');
        const mobileMenu = document.getElementById('mobile-menu');
        const navbar = document.getElementById('navbar');
        const body = document.body;
        const video = document.querySelector('video');

        // Optimize image overlays
        const images = document.querySelectorAll('.relative');

        images.forEach(image => {
            const overlay = image.querySelector('.overlay');

            // Add event listeners for hover effects
            image.addEventListener('mouseenter', () => {
                overlay.style.opacity = '1';
            });

            image.addEventListener('mouseleave', () => {
                overlay.style.opacity = '0';
            });
        });

        // Use event delegation for menu toggle
        document.body.addEventListener('click', (event) => {
            if (menuToggle.contains(event.target)) {
                toggleMobileMenu();
            } else if (menuClose.contains(event.target) || (mobileMenu.classList.contains('visible') && !mobileMenu.contains(event.target))) {
                closeMobileMenu();
            }
        });

        // Toggle mobile menu visibility
        const toggleMobileMenu = () => {
            mobileMenu.classList.toggle('hidden');
            mobileMenu.classList.toggle('visible');
            menuToggle.classList.toggle('open');
            navbar.classList.toggle('inverted');
            body.classList.toggle('overflow-hidden');
        };

        const closeMobileMenu = () => {
            mobileMenu.classList.add('hidden');
            mobileMenu.classList.remove('visible');
            menuToggle.classList.remove('open');
            navbar.classList.remove('inverted');
            body.classList.remove('overflow-hidden');
        };

        // Functions for video loading and autoplay
        const loadImages = () => {
            const imgs = document.querySelectorAll('img[data-src]');
            imgs.forEach(img => {
                img.src = img.dataset.src;
                img.removeAttribute('data-src');
            });
        };

        const setVideoVolume = () => {
            if (video) {
                try {
                    video.volume = 0.5; // Set volume to 50%
                    video.muted = false; // Ensure it's not muted
                } catch (error) {
                    console.warn("Unable to set video volume due to browser policies: ", error);
                }
            }
        };

        const checkAutoplayPermission = () => {
            const playPromise = video.play();
            if (playPromise !== undefined) {
                playPromise.then(() => {
                    setVideoVolume();
                }).catch(error => {
                    console.warn("Autoplay with sound might be blocked by the browser. Please interact with the video to enable sound.");
                });
            }
        };

        if (video) {
            video.addEventListener('canplaythrough', loadImages);
            video.addEventListener('loadeddata', setVideoVolume);
            checkAutoplayPermission();

            // User interaction handler for video
            document.body.addEventListener('click', () => {
                if (video.paused) {
                    video.play().then(setVideoVolume).catch(err => {
                        console.warn("Autoplay restriction: Please manually unmute or play the video.", err);
                    });
                }
            });
        }
    });
</script>

</body>
</html>