@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './abstracts/variables';
@import './base/reset';
@import './layout/header';

.arbequina-02 {
  background-image: url('../assets/HG-AOVE-Arbequina-500-736x1024-02_608x832.webp');
}

.arbequina-03 {
  background-image: url('../assets/HG-AOVE-Arbequina-500-736x1024-03_608x832.webp');
}

.arbequina-04 {
  background-image: url('../assets/HG-AOVE-Arbequina-736x1024-04_608x832.webp');
}

.arbequina-05 {
  background-image: url('../assets/HG-AOVE-Arbequina-736x1024-05_608x832.webp');
}

.arbequina-06 {
  background-image: url('../assets/HG-AOVE-Arbequina-1024x1024-06_608x608.webp');
}

.arbequina-07 {
  background-image: url('../assets/HG-AOVE-Arbequina-1024x1024-07_608x608.webp');
}
